<div class="side_bar">
  <ul>
    <li><%= link_to "さがす", users_search_index_path %></li>
    <li><%= link_to "メッセージ", root_path %></li>
    <li><%= link_to "お気に入り", root_path %></li>
    <li><%= link_to "足あと", root_path %></li>
    <li><%= link_to "相手からいいね", root_path %></li>
    <li><%= link_to "プロフィール", user_path(current_user) %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
</div>