<div class='wrapper'>
  <div class='side-bar'>
    <%= render "side_index" %>
  </div>

  <div class="chat">
    <div class="chat-header">
      <div class="left-header">
        <div class="chat-header-title">
          <p>相手を選んでトークを始めましょう！</p>
        </div>
      </div>
      <div class="right-header">
        <div class="login-room">
          <ul class="login-room-lists">
            <li class="background-yellow" id="room-lists"><%= "#{current_user.name}の参加トーク" %></li>
          </ul>
          <ul class="room-show-lists hidden" id="room-pull-down">
            <% current_user.rooms.each do |room| %>
            <li class="room-pull-down-list"><%= link_to room.name, room_talks_path(room) %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="rooms">
      <div class='user-contents'>
      <%= search_form_for @p, url: search_users_path do |form| %>
        <%= form.label :country_id_eq, '旅行先' %>
        <%= form.collection_select :country_id_eq, Country.all, :id, :name %>
        <%= form.submit '検索' ,class: "search-btn" %>
      <% end %>
      <h3 class='title'>Travelers</h3>
        <ul class='user-lists'>
          <% @users.each do |user| %>
            <li class='list'>
              <%= link_to user_path(user.id) do %>
                <div class='user-img-content'>
                  <%= image_tag user.image, class: "user-img" if user.image.attached? %>
                </div>
                <div class='user-info'>
                  <h3 class='user-name'>
                    <%= user.name %>
                  </h3>
                </div>
                <div class='user-info'>
                  <h3 class='user-name'>
                    <%= user.country.name %>
                  </h3>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="footer">
  <p>©️ Travelers</p>
</div>