<div class='wrapper'>
  <div class='side-bar'>
    <%= render "side_index" %>
  </div>

  <ul class="search_index">
    <li class="search_index_form">
      <%= search_form_for @p, url: search_users_path do |f| %>
        <%#= f.label :country_id_eq, '旅行先' %>
        <%= f.collection_select :country_id_eq, Country.all, :id, :name %>
        <%= f.submit '検索' ,class: "search-btn" %>
      <% end %>
    </li>
    <li class="search_index_form">
      <%= search_form_for @p, url: search_users_path do |f| %>
        <%#= f.label :country_id_eq, '年齢' %>
        <%= f.collection_select :country_id_eq, Country.all, :id, :name %>
        <%= f.submit '検索' ,class: "search-btn" %>
      <% end %>
    </li>
    <li class="search_index_form">
      <%= search_form_for @p, url: search_users_path do |f| %>
        <%#= f.label :job_id_eq, '職業' %>
        <%= f.collection_select :job_id_eq, Job.all, :id, :name %>
        <%= f.submit '検索' ,class: "search-btn" %>
      <% end %>
    </li>
    <li class="search_index_form">
      <%= search_form_for @p, url: search_users_path do |f| %>
        <%#= f.label :birthplace_id_eq, '出身地' %>
        <%= f.collection_select :birthplace_id_eq, Birthplace.all, :id, :name %>
        <%= f.submit '検索' ,class: "search-btn" %>
      <% end %>
    </li>
    <li class="search_index_form">
      <%= search_form_for @p, url: search_users_path do |f| %>
        <%#= f.label :residence_id_eq, '居住地' %>
        <%= f.collection_select :residence_id_eq, Residence.all, :id, :name %>
        <%= f.submit '検索' ,class: "search-btn" %>
      <% end %>
    </li>
  </ul>
</div>