<div class="account-page__wrapper">
  <%= image_tag "traveler.png", class: "account-page__img" %>
  <div class='account-page' id='account-page'>
    <div class='account-page__inner__session clearfix'>
      <div class='account-page__inner--left account-page__session'>
        <h2>さあ、始めよう</h2>
        <h5>あなたと分かち合える人を探す旅へ</h5>
        <%= link_to "新規登録", new_registration_path(resource_name), class: 'btn btn--orange'%>
        <%# <%= render "devise/shared/links"%>
      </div>
      <div class='account-page__inner--right user-form'>
        <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
          <div class='field'>
            <div class='field-label__session'>
              <%= f.label :eメール%>
            </div>
            <div class='field-input'>
              <%= f.email_field :email, autofocus: true%>
            </div>
            <div class='field'>
              <div class='field-label__session'>
                <%= f.label :パスワード%>
                <i>(英数字6文字以上)</i>
              </div>
              <div class='field-input'>
                <%= f.password_field :password, autocomplete: "off"%>
              </div>
            </div>
            <div class='actions'>
              <%= f.submit "ログイン", class: 'btn'%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
